 <!DOCTYPE html>
<html lang="en"> <%- include('layout/header'); -%>

<body>
  <%- include('layout/navbar'); -%>
  

      <div class="title">Sign in</div>

<div id="signinwrapper">

      <div class="contactbox">
        <form action="/users/login"  method="POST" enctype="multipart/form-data">
     
        
            <input type="text" id="username" name="username" class="inputitem" placeholder="Username"><br>
            <input type="text" id="password" name="password" class="inputitem" placeholder="Password"><br>

            <input type="submit" value="Submit" class="submit" name="submit" class="inputitem"> </input>
        </form>
    </div>
    

</div>




      <%- include('layout/footer'); -%>

</body>
  <%- include('layout/scripts'); -%>

</html>